// hero
.hero-container {
  @include r($sm) {
    display: none;
  }
}

.hero {
  margin: .94rem 0 0.94rem 0;
  border-bottom: 1px solid $color-line;
  padding-bottom: 2rem;
  display: flex;

  @include r($sm) {
    flex-direction: column;
  }

  &__title {
    text-transform: uppercase;
    color: $color-txt;
    font-size: 2.4rem;
    font-family: $m-500;
    margin-right: 8rem;

    @include r($sm) {
      margin-bottom: 1rem;
    }

  }

  &__search {
    // position: relative;

    &--input {
      border: 1px solid $color-line;
      border-radius: 50px;
      padding: 1rem 1rem 1rem 1.7rem;
      width: 27.9rem;
      font-size: 1.4rem;
      font-family: $m-100;
      color: $color-input;
      margin-right: -4rem;

      &:focus {
        border: 1px solid #459ad4;
        & ~ .hero__search--btn {
          background-color: #459ad4;
          &:hover {
            background-color: #61b4e2;
          }
        }
      }

      &:not(:placeholder-shown) {
        color: #5d5d5d;
        border-color: $color-blue;
      }

      @include r($sm) {
        width: 100%;
      }

      &::placeholder {
        font-size: 1rem;
        font-family: $m-100;
      }
    }

    &--btn {
      border-radius: 50%;
      background-color: $color-blue;
      width: 3rem;
      height: 3rem;
      position: relative;
      top: .2rem;
      right: -.2rem;

      &:hover {
        background-color: #61b4e2;
      }
    }

    .icon-search {
      color: #fff;
      font-size: 2rem;
      position: relative;
      top: 0.2rem;
    }
  }
}
