// main
.main {

    overflow: hidden;
    

    &__heros {
        font-family: $m-500;
        height: 5rem;
        display: flex;
        align-items: center;
        align-content: center;
        padding-left: 4rem;
        font-family: $m-500;
        color: $color-txt;
        margin-top: 4rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2rem;
            background-color: $color-line;
            width: 100%;
            height: .1rem;
        }

        &--title {
            flex: 1;
        }
    }

    .icon-notes {
        display: inline-block;
        width: 3rem;
        height: 2rem;
        margin-right: 2rem;
    }

    .icon-up {
        width: 1rem;
        height: .7rem;
        display: inline-block;
        margin-right: 4rem;
        position: relative;
        top: .2rem;
    }

    .lain-end {
        border: none;
        border-top: 1px solid $color-line;
        width: 100%;
        display: block;
        margin-top: 3rem;

        @include r($sm) {
            display: none;
        }
    }

}


.lain-left {
    position: absolute;
    width: 163px;
    height: 163px;
    left: 0;
    top: 800px;
    z-index: 10;

    @include r($md) {
        display: none;
    }
}

.lain-right {
    position: absolute;
    width: 163px;
    height: 163px;
    right: 0;
    top: 270px;
    z-index: 1;

    @include r($md) {
        display: none;
    }
}

