// table-btn
.table-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 4rem;

    


    &--blue {
        color: $color-btn-txt-1;
        background-color: $color-blue;
        padding: 1.15rem 3.5rem 0.85rem 3.5rem;
        border-radius: 42px;
        font-size: 1.4rem;
        font-family: $m-500;
        text-transform: uppercase;
        transition: all .5s;

        &:hover {
            background-color: $color-btn-hover;
        }

    }

    &--white {
        color: $color-btn-txt-2;
        padding: 1.15rem 2.2rem 0.85rem 2.2rem;
        border-radius: 42px;
        border: 1px solid $color-line;
        font-size: 1.4rem;
        font-family: $m-500;
        text-transform: uppercase;
        transition: all .5s;
        background-color: #fff;

        &:hover {
            border: 1px solid #dddddd;
        }

        &:active {
            background-color: $color-blue;
            color: #fff;
        }
    }

    .table-btn {
        margin-right: 2rem;
        
        @include r($sm) {
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }

    .table-btn:last-child {
        margin-right: 0;
    }
}

.hero-btn {
    padding: 1.3rem;
    margin-top: 0;
}

.pass-acc {
    justify-content: center;
}


.table-bt {
    @include r($sm) {
        flex-direction: column;
        width: 100%;
    }
}