// colors
$color-blue: #459ad4;
$color-gray: #f3f3f3;
$color-red: #ea2127;
$color-txt: #333333;
$color-input: #777777;
$color-table-hero: #5d5d5d;
$color-line: #d3d3d3;
$color-hover: #f2f2f3;
$color-btn-hover: #60b4e2;
$color-btn-txt-1: #fefefe;
$color-btn-txt-2: #666666;
$color-footer-bg: #2a3570;
$color-footer-link: #4e4e4e;

// font
$m-100: 'm-100', 
sans-serif;
$m-300: 'm-300',
sans-serif;
$m-500: 'm-500',
sans-serif;
$m-700: 'm-700',
sans-serif;
$m-900: 'm-900',
sans-serif;


// responsiv 
$lg: 75em; // 1200px
$md: 62em; // 992px
$sm: 48em; // 768px
$xs: 36em; // 576px
